fastapi                      
uvicorn
sqlalchemy
python-multipart
cryptography
mutagen
python-pptx
openpyxl
python-docx
pypdf
Pillow
python-dotenv
passlib
bcrypt==4.0.1
slowapi
python-multipart